<div class="container">
  <div class="row">
    <div class="col-md-11">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <div id="map"></div>
                </div>
              </div>
            </div>
            <br>
             <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <div ng-repeat="place in places">
                    <div class="panel panel-default places">
                      <span class="only-bottom-margin">Name: {{place.name}}</span><br>
                      <!-- <span class="only-bottom-margin">Location: {{place.loc.coordinates}}</span><br> -->
                      <span class="only-bottom-margin">Type: {{place.type}}</span><br>
                      <span class="only-bottom-margin">Description: {{place.description}}</span><br>
                      <span class="only-bottom-margin">Rating: {{place.rating}}</span><br>
                      <button id="similar" ng-hide="place.isFavourite" ng-click="addToFavourite(place)" class="btn btn-default pull-right"><i class="glyphicon"></i> Добави към Любими</button><br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <button id="logout" ng-click="logout()" class="btn btn-default pull-right mybtn"><i class="glyphicon"></i> Излез</button>
            <a href="#/profile" class="btn btn-default pull-right mybtn"><i class="glyphicon"></i> Профил</a>
        </div>
      </div>
    </div>
  </div>
</div>