<div class="container">
  <div class="row">
    <div class="col-md-11">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead"><hr></div>
          </div>
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none;
              display:block; margin:auto;" src="../images/roboProfile.png">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin">{{user.email}}</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span class="text-muted">Email:</span> {{user.email}}<br>

                  <!-- <span class="text-muted"></span>{{user.favouritePlaces}}<br><br> -->
                  <div ng-repeat="placeId in user.favouritePlaces">
                    <div class="panel panel-default">
                      <span class="only-bottom-margin">{{placeId}}</span>
                      <button id="similar" ng-click="removePlace(placeId)" class="btn btn-default pull-right"><i class="glyphicon"></i> Махни обекта от любими</button><br>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <button id="logout" ng-click="logout()" class="btn btn-default pull-right"><i class="glyphicon"></i> Излез</button>
                    <button id="map" ng-click="map()" class="btn btn-default pull-right"><i class="glyphicon"></i> Карта</button>
                  <!-- <div class="activity-mini">
                    <i class="glyphicon text-muted"></i> Влязъл си като потребител
                  </div> -->
                </div>
              </div>
            </div>
          </div>
<!--           <div class="row">
            <div class="col-md-12">
              <hr><button onclick="gotoEditProfile()" class="btn btn-default pull-right"><i class="glyphicon glyphicon-pencil"></i> Редактирай</button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>