<div class="container">
  <div class="row">
    <div class="col-md-11">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead"><hr></div>
          </div>
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none;
              display:block; margin:auto;" src="../images/roboProfile.png">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin">{{user.email}}</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <!-- <span class="text-muted">Email:</span> {{user.email}}<br><br> -->
                  <div ng-repeat="place in user.favouritePlaces" class="panel panel-default">
                    <div >
                      <div class="only-bottom-margin">{{place.name}}</div>
                      <button id="similar" ng-click="removePlace(place)" class="btn btn-default"><i class="glyphicon"></i> Махни обекта от любими</button><br>
                    </div><br>
                  </div>
                </div>
                <div class="col-md-6">
                    <button id="logout" ng-click="logout()" class="btn btn-default pull-right mybtn"><i class="glyphicon"></i> Излез</button>
                    <a href="#/map" class="btn btn-default pull-right mybtn"><i class="glyphicon"></i> Карта</a>
                    <a href="#/top" class="btn btn-default pull-right mybtn"><i class="glyphicon"></i> Топ Места</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>